{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<hr>
<form method="POST">
    {% csrf_token %}
    {{form|crispy}}
    <button type="submit" class="btn btn-primary mt-3">
        Search
    </button>
</form>
<br>
{% if sales_df %}
    <p>Sales dataframe</p>
    {{ sales_df|safe}}
    <br>
    <p>Positions dataframe</p>
    {{ positions_df|safe }}
    <br>
    <p>Merged dataframe</p>
    {{merged_df|safe }}
    <br>
    {{df|safe }}
    <br>
    <p>Chart</p>
    <img src="data:image/png;base64, {{chart|safe}}">
    <br>

    {% else %}
    <h3>No data.</h3>
{% endif %}

{% endblock %}